html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
color: black;
      }
  /* .navBar{
    background-color: green;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding:6px;
  }
   */
  .image-txt-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
  }
  h1{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
  }
  h2{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
  }
  h3{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
  }
  img{
    border-radius: 25%;
  }
  /* nav bar css */
  ul{
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    padding: 1em;
    background-color: green;
    margin: 0;
  }
  li{
    display: inline;
  }
  li a{
    color: white;
    text-decoration: none;
    font-size: 1.3 em;
    padding: 2em;
  }
  li a:hover{
    background-color: #0f5c0f;
  }
  p{
    text-align: center;
  }/*
  .toast{
max-width:                   350px;
padding: .5rem .75rem .5rem .75rem ;
font-size:                   .875rem;
background-color:            rgba(white, .85);
border-width:                1px;
border-color:                rgba(black, .1);
  }
.toast-header{
  color:                gray-600;
  background-color:     rgba(white, .85);
  border-color:         rgba(black, .05);
} */
.toast-body{
  background-color: black;
  color: white;
}